/user_guide/_minted-user_guide
/user_guide/user_guide.aux
/user_guide/user_guide.bbl
/user_guide/user_guide.bcf
/user_guide/user_guide.blg
/user_guide/user_guide.fdb_latexmk
/user_guide/user_guide.fls
/user_guide/user_guide.log
/user_guide/user_guide.out
/user_guide/user_guide.run.xml
/user_guide/user_guide.synctex.gz
/user_guide/user_guide.synctex.gz(busy)
